In [1]:
import pandas as pd
import json
import re
from sqlalchemy import create_engine
from getpass import getpass

In [2]:
new_york_df = pd.read_csv("Resources/NewYorkTotal.csv", index_col=[0])
london_df = pd.read_csv("Resources/LondonTotal.csv", index_col=[0])
#new_york_df = new_york_df.drop(columns=['index'], axis=1)
new_york_df.reset_index(drop=True, inplace=True)
new_york_df.head()

,Names,Geometry,Address,Lattitude,Longitude,Category
0,O'reilly William & Co Ltd,POINT (-73.96273074561996 40.773800871637576),52 E 76th St,40.773801,-73.962731,Art_Gallery
1,Organization of Independent Artists - Gallery 402,POINT (-74.0093857886298 40.71646850931738),19 Hudson St.,40.716469,-74.009386,Art_Gallery
2,Owen Gallery,POINT (-73.96435178145856 40.7740008522409),19 E 75th St,40.774001,-73.964352,Art_Gallery
3,P P O W Gallerie,POINT (-74.00389261044238 40.74958540084406),511 W 25th St,40.749585,-74.003893,Art_Gallery
4,P P O W Inc,POINT (-74.00176389614576 40.72290742771331),476 Broome St,40.722907,-74.001764,Art_Gallery

In [3]:
password = getpass('Enter database password')

Enter database password········

In [4]:
db_string = f"postgresql://postgres:{password}@127.0.0.1:5432/travel_project"

In [5]:
engine = create_engine(db_string)

In [6]:
new_york_df.to_sql(name='new_york', con=engine)
london_df.to_sql(name='london', con=engine)

In [7]:
art_gallery_df = pd.read_csv("Resources/ART_GALLERY.csv")
gallerys_df = pd.DataFrame(columns=["Names", "Details"])
gallerys_df["Names"] = art_gallery_df["NAME"]
gallerys_df["Details"] = "Learn more at :" + art_gallery_df["URL"]
gallerys_df.count()

Names      917
Details    917
dtype: int64

In [8]:
museum_df = pd.read_csv("Resources/MUSEUM.csv")
museums_df = pd.DataFrame(columns=["Names", "Details"])
museums_df["Names"] = museum_df["NAME"]
museums_df["Details"] = "Learn more at :" + museum_df["URL"]
museums_df.count()

Names      130
Details    130
dtype: int64

In [9]:
park_monuments_df = pd.read_csv("Resources/NYC_Parks_Monuments.csv")
monuments_filtered = park_monuments_df[park_monuments_df['X'].notnull()]
monuments_filtered = monuments_filtered[monuments_filtered['parkname'].notnull()]
parks_df = pd.DataFrame(columns=["Names", "Details"])
parks_df["Names"] = "Monument to " + monuments_filtered["name"] + " at " + monuments_filtered["parkname"]
parks_df["Details"] = "Dedicated " + monuments_filtered["dedicated"].astype(str)
parks_df.count()#["dedicated"]

Names      780
Details    780
dtype: int64

In [10]:
water_df = pd.read_json('Resources/DPR_Kayak_001.json')
kayaking_stuff_df = water_df[water_df['lat'].notnull()]
kayaking_df = pd.DataFrame(columns=["Names", "Details"])
kayaking_df["Names"] = kayaking_stuff_df["Name"]
kayaking_df["Details"] = "Open " + kayaking_stuff_df["Hours"]
kayaking_df = kayaking_df[kayaking_df['Details'].notnull()]
kayaking_df.count()

Names      36
Details    36
dtype: int64

In [11]:
grafiti_df = pd.read_json('Resources/DPR_PublicArt_001.json')
grafiting_df = grafiti_df[grafiti_df['lat'].notnull()]
streetart_df = pd.DataFrame(columns=["Names", "Details"])
streetart_df["Names"] = grafiting_df["name"]
streetart_df["Details"] = "Made by " + grafiting_df["artist"]
streetart_df = streetart_df[streetart_df['Details'].notnull()]
streetart_df.count()

Names      580
Details    580
dtype: int64

In [12]:
new_york_dets = pd.DataFrame(columns=["Names", "Details"])
new_york_dets = new_york_dets.append(gallerys_df, ignore_index=True)
new_york_dets = new_york_dets.append(museums_df, ignore_index=True)
new_york_dets = new_york_dets.append(parks_df, ignore_index=True)
new_york_dets = new_york_dets.append(kayaking_df, ignore_index=True)
new_york_dets = new_york_dets.append(streetart_df, ignore_index=True)
new_york_dets.count()

Names      2443
Details    2443
dtype: int64

In [13]:
new_york_dets.to_sql(name='ny_extra', con=engine)

In [14]:
london_weather_df  = pd.read_csv("Output/london_yyyy_mm_weather.csv")
nyc_weather_df = pd.read_csv("Output/nyc_yyyy_mm_weather.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Output/london_yyyy_mm_weather.csv'

In [15]:
london_weather_df.to_sql(name='london_weather_yyyy_mm', con=engine)
nyc_weather_df.to_sql(name='nyc_weather_yyyy_mm', con=engine)

NameError: name 'london_weather_df' is not defined

In [16]:
ny_all = pd.read_sql_table('new_york_joined',
                                  f'postgresql://postgres:{password}@localhost/travel_project')

In [17]:
ny_all.count()

Names        2708
Geometry     2708
Address      2126
Lattitude    2708
Longitude    2708
Category     2708
Details      2693
dtype: int64

In [3]:
ny_all.loc[ny_all.Longitude >= 0] = (ny_all.loc[ny_all.Longitude >= 0]*-1)

In [4]:
ny_all.drop(ny_all.loc[ny_all.Lattitude <= -70].index, inplace=True)
ny_all.loc[ny_all.Lattitude <= 0] = (ny_all.loc[ny_all.Lattitude >= 0]*-1)

In [6]:
ny_all.to_csv("Resources/NewYorkPlus.csv")
#ny_all = pd.read_csv("Resources/NewYorkPlus.csv")