In [28]:
# Dependencies and Setup
import pandas as pd
import requests
import json

# Import API key
from config import api_key

credit: https://www.justintodata.com/python-api-call-to-request-data/

In [29]:
# Using the yelp business search API: https://www.yelp.com/developers/documentation/v3/business_search
# headers contain the api key.
headers = {"Authorization": "Bearer {}".format(api_key)}
search_api_url = "https://api.yelp.com/v3/businesses/search"

In [30]:
#First set of 50 records
nyc_params1 = {"term":"restaurant","location":"New York","limit":50,"offset":0}
nyc_response1 = requests.get(search_api_url, headers=headers, params=nyc_params1)
print(nyc_response1.url)
print(nyc_response1.status_code)
nyc1 = nyc_response1.json()
# Print the json (pretty printed)
# print(json.dumps(nyc, indent=4, sort_keys=True))
#create dataframe
nyc1_df = pd.DataFrame(nyc1['businesses'])
new_column = ["name","categories","price","rating","coordinates","location","id","image_url"]
nyc1_df = nyc1_df[new_column]
nyc1_df[nyc1_df.columns[0]].count()

https://api.yelp.com/v3/businesses/search?term=restaurant&location=New+York&limit=50&offset=0
200

50

In [31]:
#2nd set of 50 records 51-100 
nyc_params2 = {"term":"restaurant","location":"New York","limit":50,"offset":51}
nyc_response2 = requests.get(search_api_url, headers=headers, params=nyc_params2)
print(nyc_response2.url)
print(nyc_response2.status_code)
nyc2 = nyc_response2.json()
nyc2_df = pd.DataFrame(nyc2['businesses'])
nyc2_df = nyc2_df[new_column]
nyc2_df[nyc2_df.columns[0]].count()

https://api.yelp.com/v3/businesses/search?term=restaurant&location=New+York&limit=50&offset=51
200

50

In [32]:
#3rd set of 50 records 101-150
nyc_params3 = {"term":"restaurant","location":"New York","limit":50,"offset":101}
nyc_response3 = requests.get(search_api_url, headers=headers, params=nyc_params3)
print(nyc_response3.url)
print(nyc_response3.status_code)
nyc3 = nyc_response3.json()
nyc3_df = pd.DataFrame(nyc3['businesses'])
nyc3_df = nyc3_df[new_column]
nyc3_df[nyc3_df.columns[0]].count()

https://api.yelp.com/v3/businesses/search?term=restaurant&location=New+York&limit=50&offset=101
200

50

In [33]:
#4th set of 50 records 151-200
nyc_params4 = {"term":"restaurant","location":"New York","limit":50,"offset":151}
nyc_response4 = requests.get(search_api_url, headers=headers, params=nyc_params4)
print(nyc_response4.url)
print(nyc_response4.status_code)
nyc4 = nyc_response4.json()
nyc4_df = pd.DataFrame(nyc4['businesses'])
nyc4_df = nyc4_df[new_column]
nyc4_df[nyc4_df.columns[0]].count()

https://api.yelp.com/v3/businesses/search?term=restaurant&location=New+York&limit=50&offset=151
200

50

In [35]:
#5th set of 50 records 201-250
nyc_params5 = {"term":"restaurant","location":"New York","limit":50,"offset":201}
nyc_response5 = requests.get(search_api_url, headers=headers, params=nyc_params5)
print(nyc_response5.url)
print(nyc_response5.status_code)
nyc5 = nyc_response5.json()
nyc5_df = pd.DataFrame(nyc5['businesses'])
nyc5_df = nyc5_df[new_column]
nyc5_df[nyc5_df.columns[0]].count()

https://api.yelp.com/v3/businesses/search?term=restaurant&location=New+York&limit=50&offset=201
500

KeyError: 'businesses'

In [36]:
#6th set of 50 records 251-300
nyc_params6 = {"term":"restaurant","location":"New York","limit":50,"offset":251}
nyc_response6 = requests.get(search_api_url, headers=headers, params=nyc_params6)
print(nyc_response6.url)
print(nyc_response6.status_code)
nyc6 = nyc_response6.json()
nyc6_df = pd.DataFrame(nyc6['businesses'])
nyc6_df = nyc6_df[new_column]
nyc6_df[nyc6_df.columns[0]].count()

https://api.yelp.com/v3/businesses/search?term=restaurant&location=New+York&limit=50&offset=251
500

KeyError: 'businesses'

In [37]:
#7th set of 50 records 301-350
nyc_params7 = {"term":"restaurant","location":"New York","limit":50,"offset":301}
nyc_response7 = requests.get(search_api_url, headers=headers, params=nyc_params7)
print(nyc_response7.url)
print(nyc_response7.status_code)
nyc7 = nyc_response7.json()
nyc7_df = pd.DataFrame(nyc7['businesses'])
nyc7_df = nyc4_df[new_column]
nyc7_df[nyc7_df.columns[0]].count()

https://api.yelp.com/v3/businesses/search?term=restaurant&location=New+York&limit=50&offset=301
500

KeyError: 'businesses'

In [38]:
#8th set of 50 records 351-400
nyc_params8 = {"term":"restaurant","location":"New York","limit":50,"offset":351}
nyc_response8 = requests.get(search_api_url, headers=headers, params=nyc_params8)
print(nyc_response8.url)
print(nyc_response8.status_code)
nyc8 = nyc_response8.json()
nyc8_df = pd.DataFrame(nyc8['businesses'])
nyc8_df = nyc8_df[new_column]
nyc8_df[nyc8_df.columns[0]].count()

https://api.yelp.com/v3/businesses/search?term=restaurant&location=New+York&limit=50&offset=351
500

KeyError: 'businesses'

In [39]:
#9th set of 50 records 401-450
nyc_params9 = {"term":"restaurant","location":"New York","limit":50,"offset":401}
nyc_response9 = requests.get(search_api_url, headers=headers, params=nyc_params9)
print(nyc_response9.url)
print(nyc_response9.status_code)
nyc9 = nyc_response9.json()
nyc9_df = pd.DataFrame(nyc9['businesses'])
nyc9_df = nyc9_df[new_column]
nyc9_df[nyc9_df.columns[0]].count()

https://api.yelp.com/v3/businesses/search?term=restaurant&location=New+York&limit=50&offset=401
500

KeyError: 'businesses'

In [40]:
#10th set of 50 records 451-500
nyc_params10 = {"term":"restaurant","location":"New York","limit":50,"offset":451}
nyc_response10 = requests.get(search_api_url, headers=headers, params=nyc_params10)
print(nyc_response10.url)
print(nyc_response10.status_code)
nyc10 = nyc_response10.json()
nyc10_df = pd.DataFrame(nyc10['businesses'])
nyc10_df = nyc10_df[new_column]
nyc10_df[nyc10_df.columns[0]].count()

https://api.yelp.com/v3/businesses/search?term=restaurant&location=New+York&limit=50&offset=451
500

KeyError: 'businesses'