LONDON RESTAURANTS, TYPE, LOCATION, RATINGS, and LOCATION

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import json

# Import API key
from config import api_key

Yelp Business Search API Documentation: https://www.yelp.com/developers/documentation/v3/business_search

In [2]:
# headers contain the api key.
# reference this site for set up: https://www.justintodata.com/python-api-call-to-request-data/
headers = {"Authorization": "Bearer {}".format(api_key)}
search_api_url = "https://api.yelp.com/v3/businesses/search"

Yelp Business Search API default returns twenty records at a time. However, the API allows fifty records per call by adding a limit to the parameters, with four calls maximum before returning an error. So, the maximum dataset size is 200 records.

In [3]:
term = "soul food"

In [4]:
#First set of 50 records 0-50
lndr_params1 = {"term":term,"location":"London","limit":50,"offset":0}
lndr_response1 = requests.get(search_api_url, headers=headers, params=lndr_params1)
lndr1 = lndr_response1.json()
display(lndr1)
#print(lndr_response1.url)
#print(lndr_response1.status_code)

{'businesses': [{'id': 'Z0r83lDOA1mI8RpNccXtHw',
   'alias': 'the-fat-bear-london',
   'name': 'The Fat Bear',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/-U3vVDIo1UItF64Gf1yAZA/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/the-fat-bear-london?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 123,
   'categories': [{'alias': 'tradamerican', 'title': 'American (Traditional)'},
    {'alias': 'soulfood', 'title': 'Soul Food'},
    {'alias': 'cajun', 'title': 'Cajun/Creole'}],
   'rating': 4.5,
   'coordinates': {'latitude': 51.5131833881734,
    'longitude': -0.10138103121642},
   'transactions': [],
   'price': '££',
   'location': {'address1': '61 Carter Lane',
    'address2': '',
    'address3': '',
    'city': 'London',
    'zip_code': 'EC4V 5DY',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['61 Carter Lane',
     'London EC4V 5DY',
     'United Kingdom']},
   'phone': '+442072362498',
   'display_phone': '+44 20 7236 2498',
   'distance': 2392.909207748214},
  {'id': 'itiSPcPGHolevC57N1Gp_Q',
   'alias': 'mother-clucker-london',
   'name': 'Mother Clucker',
   'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/4-J1w2bVHYmZyrteZtc6ug/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/mother-clucker-london?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 3,
   'categories': [{'alias': 'streetvendors', 'title': 'Street Vendors'},
    {'alias': 'soulfood', 'title': 'Soul Food'},
    {'alias': 'bbq', 'title': 'Barbeque'}],
   'rating': 4.0,
   'coordinates': {'latitude': 51.5413217719856,
    'longitude': -0.146442857577986},
   'transactions': [],
   'location': {'address1': 'Camden Market',
    'address2': 'West Yard',
    'address3': None,
    'city': 'London',
    'zip_code': 'NW1 8AF',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['Camden Market',
     'West Yard',
     'London NW1 8AF',
     'United Kingdom']},
   'phone': '+44442074855511',
   'display_phone': '+44 442074855511',
   'distance': 3249.543407778273},
  {'id': 'p4SRF3oXUvkR8dr-xpTczg',
   'alias': 'absurd-bird-soho-london',
   'name': 'Absurd Bird Soho',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/zuoYZoW-pdTPYBWT7bgtVA/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/absurd-bird-soho-london?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 19,
   'categories': [{'alias': 'chickenshop', 'title': 'Chicken Shop'},
    {'alias': 'newamerican', 'title': 'American (New)'},
    {'alias': 'soulfood', 'title': 'Soul Food'}],
   'rating': 4.0,
   'coordinates': {'latitude': None, 'longitude': None},
   'transactions': [],
   'price': '£££',
   'location': {'address1': '24 Peter Street',
    'address2': '',
    'address3': None,
    'city': 'London',
    'zip_code': 'W1F',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['24 Peter Street', 'London W1F', 'United Kingdom']},
   'phone': '+442031988444',
   'display_phone': '+44 20 3198 8444',
   'distance': 109.08446380657982},
  {'id': 'p9TrMj3CyIQd-nywbZklZw',
   'alias': 'red-rooster-shoreditch-london',
   'name': 'Red Rooster Shoreditch',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/wtexbI6JcJDq9otJexz4JA/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/red-rooster-shoreditch-london?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 21,
   'categories': [{'alias': 'newamerican', 'title': 'American (New)'},
    {'alias': 'southern', 'title': 'Southern'},
    {'alias': 'scandinavian', 'title': 'Scandinavian'}],
   'rating': 4.0,
   'coordinates': {'latitude': 51.524165, 'longitude': -0.08029},
   'transactions': [],
   'price': '£££',
   'location': {'address1': '45 Curtain Road',
    'address2': '',
    'address3': None,
    'city': 'London',
    'zip_code': 'EC2A',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['45 Curtain Road', 'London EC2A', 'United Kingdom']},
   'phone': '+442031464545',
   'display_phone': '+44 20 3146 4545',
   'distance': 4031.9623647685676},
  {'id': 'GG_lpEApTeNIDNzyQv1I0A',
   'alias': 'the-rum-kitchen-london-2',
   'name': 'The Rum Kitchen',
   'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/yWnEbf5wc_8UVQDB62Ee4Q/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/the-rum-kitchen-london-2?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 78,
   'categories': [{'alias': 'caribbean', 'title': 'Caribbean'}],
   'rating': 4.0,
   'coordinates': {'latitude': 51.5123393, 'longitude': -0.1387341},
   'transactions': [],
   'price': '££',
   'location': {'address1': '1st Floor Kingly Court',
    'address2': 'Carnaby Soho',
    'address3': '',
    'city': 'London',
    'zip_code': 'W1B 5PW',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['1st Floor Kingly Court',
     'Carnaby Soho',
     'London W1B 5PW',
     'United Kingdom']},
   'phone': '+442079206479',
   'display_phone': '+44 20 7920 6479',
   'distance': 200.02220242637392},
  {'id': 'ycD95YnyT4rBwu4FTC8mew',
   'alias': 'bubba-gump-shrimp-co-chinatown',
   'name': 'Bubba Gump Shrimp Co.',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/v8pZFoE-7KMNujJBzYCDZQ/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/bubba-gump-shrimp-co-chinatown?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 29,
   'categories': [{'alias': 'seafood', 'title': 'Seafood'},
    {'alias': 'hotdogs', 'title': 'Fast Food'}],
   'rating': 2.5,
   'coordinates': {'latitude': 51.5100710684264,
    'longitude': -0.132980570197105},
   'transactions': [],
   'price': '££',
   'location': {'address1': 'Trocadero',
    'address2': '7-14 Coventry Street',
    'address3': '',
    'city': 'Chinatown',
    'zip_code': 'W1D 7DH',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['Trocadero',
     '7-14 Coventry Street',
     'Chinatown W1D 7DH',
     'United Kingdom']},
   'phone': '',
   'display_phone': '',
   'distance': 369.9774277366542},
  {'id': 'WlC8-aIs7SrbMUUnH0OB8g',
   'alias': 'chicken-shop-london-12',
   'name': 'Chicken Shop',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/OhcKYew4LurnywnlKkckGg/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/chicken-shop-london-12?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 24,
   'categories': [{'alias': 'chickenshop', 'title': 'Chicken Shop'}],
   'rating': 5.0,
   'coordinates': {'latitude': 51.5171084, 'longitude': -0.1222649},
   'transactions': [],
   'price': '££',
   'location': {'address1': '202 High Holborn',
    'address2': '',
    'address3': '',
    'city': 'London',
    'zip_code': 'WC1V 7BD',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['202 High Holborn',
     'London WC1V 7BD',
     'United Kingdom']},
   'phone': '+442076613040',
   'display_phone': '+44 20 7661 3040',
   'distance': 1059.8431516212613},
  {'id': '3AgFuFnrm1Gc-VFViLVrFA',
   'alias': 'holmesbake-london',
   'name': 'Holmesbake',
   'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/8b3tHQwLyY_61oZtuqUgFA/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/holmesbake-london?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 2,
   'categories': [{'alias': 'foodtrucks', 'title': 'Food Trucks'},
    {'alias': 'streetvendors', 'title': 'Street Vendors'},
    {'alias': 'bakeries', 'title': 'Bakeries'}],
   'rating': 4.5,
   'coordinates': {'latitude': 51.523571, 'longitude': -0.09285},
   'transactions': [],
   'price': '£',
   'location': {'address1': 'Roscoe Street',
    'address2': '',
    'address3': '',
    'city': 'London',
    'zip_code': 'EC1Y',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['Roscoe Street', 'London EC1Y', 'United Kingdom']},
   'phone': '',
   'display_phone': '',
   'distance': 3155.485633723334},
  {'id': 'S4ZqPYMmBSVOQfHnPinyAQ',
   'alias': 'porkys-bbq-bankside-london',
   'name': "Porky's BBQ Bankside",
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/q6QlHc0STNUfLAz5D4hoNw/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/porkys-bbq-bankside-london?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 22,
   'categories': [{'alias': 'bbq', 'title': 'Barbeque'},
    {'alias': 'burgers', 'title': 'Burgers'},
    {'alias': 'tradamerican', 'title': 'American (Traditional)'}],
   'rating': 3.5,
   'coordinates': {'latitude': 51.5075265022969, 'longitude': -0.0962873},
   'transactions': [],
   'price': '££',
   'location': {'address1': '18 New Globe Walk',
    'address2': '',
    'address3': '',
    'city': 'London',
    'zip_code': 'SE1 9DR',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['18 New Globe Walk',
     'London SE1 9DR',
     'United Kingdom']},
   'phone': '+442081275120',
   'display_phone': '+44 20 8127 5120',
   'distance': 2808.0114735161415},
  {'id': 'SUlPT5dJS-ncO6A2Esj55g',
   'alias': 'the-spot-soul-food-kitchen-london-2',
   'name': 'The Spot Soul Food Kitchen',
   'image_url': '',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/the-spot-soul-food-kitchen-london-2?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 2,
   'categories': [{'alias': 'soulfood', 'title': 'Soul Food'}],
   'rating': 2.5,
   'coordinates': {'latitude': 51.541185, 'longitude': -0.200805},
   'transactions': [],
   'location': {'address1': '58 Willesden Lane',
    'address2': '',
    'address3': '',
    'city': 'London',
    'zip_code': 'NW6 7SX',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['58 Willesden Lane',
     'London NW6 7SX',
     'United Kingdom']},
   'phone': '+442073721972',
   'display_phone': '+44 20 7372 1972',
   'distance': 5481.701670991015},
  {'id': 'JBdBb-72qCKt5QsZR8Igpg',
   'alias': 'the-depot-london-3',
   'name': 'The Depot',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/aOSemnJfT1-cUUx526BvDQ/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/the-depot-london-3?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 1,
   'categories': [{'alias': 'soulfood', 'title': 'Soul Food'},
    {'alias': 'pubs', 'title': 'Pubs'}],
   'rating': 5.0,
   'coordinates': {'latitude': 51.5487809195473,
    'longitude': -0.121666677296162},
   'transactions': [],
   'location': {'address1': "1 Carpenter's Mews",
    'address2': 'North Road',
    'address3': None,
    'city': 'London',
    'zip_code': 'N7 9EF',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ["1 Carpenter's Mews",
     'North Road',
     'London N7 9EF',
     'United Kingdom']},
   'phone': '+442032180083',
   'display_phone': '+44 20 3218 0083',
   'distance': 4117.345786975838},
  {'id': 'fQHEnP3Wfmj8NZyGIO5Aww',
   'alias': 'cottons-london-5',
   'name': 'Cottons',
   'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/obpF7sT34NhHxnbMsy5RSg/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/cottons-london-5?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 13,
   'categories': [{'alias': 'caribbean', 'title': 'Caribbean'},
    {'alias': 'cocktailbars', 'title': 'Cocktail Bars'}],
   'rating': 4.0,
   'coordinates': {'latitude': 51.526379, 'longitude': -0.080199},
   'transactions': [],
   'price': '££',
   'location': {'address1': '130-132 Curtain Road',
    'address2': '',
    'address3': None,
    'city': 'London',
    'zip_code': 'EC2A 3AR',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['130-132 Curtain Road',
     'London EC2A 3AR',
     'United Kingdom']},
   'phone': '+442077299723',
   'display_phone': '+44 20 7729 9723',
   'distance': 4141.366488746968},
  {'id': 'mMbnTGId-rn-n9xEPycvwA',
   'alias': 'peppers-and-spice-london',
   'name': 'Peppers & Spice',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/3HXlJy0Yc0C6MSUuKQjDPQ/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/peppers-and-spice-london?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 19,
   'categories': [{'alias': 'caribbean', 'title': 'Caribbean'},
    {'alias': 'hotdogs', 'title': 'Fast Food'}],
   'rating': 4.5,
   'coordinates': {'latitude': 51.54623, 'longitude': -0.077265},
   'transactions': [],
   'price': '£',
   'location': {'address1': '40 Balls Pond Rd',
    'address2': '',
    'address3': '',
    'city': 'London',
    'zip_code': 'N1 4AU',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['40 Balls Pond Rd',
     'London N1 4AU',
     'United Kingdom']},
   'phone': '+442072759818',
   'display_phone': '+44 20 7275 9818',
   'distance': 5489.502487064857},
  {'id': 'EFWXqJKZQMce40TfwPwkag',
   'alias': 'thakers-hounslow',
   'name': 'Thakers',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/j4fB8vrEshEWesZAia3uNw/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/thakers-hounslow?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 4,
   'categories': [{'alias': 'soulfood', 'title': 'Soul Food'},
    {'alias': 'vegetarian', 'title': 'Vegetarian'},
    {'alias': 'asianfusion', 'title': 'Asian Fusion'}],
   'rating': 4.5,
   'coordinates': {'latitude': 51.4695549086117,
    'longitude': -0.361086806626014},
   'transactions': [],
   'location': {'address1': '162a High Street',
    'address2': '',
    'address3': '',
    'city': 'Hounslow',
    'zip_code': 'TW3 1BQ',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['162a High Street',
     'Hounslow TW3 1BQ',
     'United Kingdom']},
   'phone': '+442085776130',
   'display_phone': '+44 20 8577 6130',
   'distance': 16312.719892015875},
  {'id': 'iLtR39Nt-ESjOY4bk7Qnug',
   'alias': 'caribsoul-croydon',
   'name': 'Caribsoul',
   'image_url': '',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/caribsoul-croydon?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 4,
   'categories': [{'alias': 'caribbean', 'title': 'Caribbean'},
    {'alias': 'soulfood', 'title': 'Soul Food'}],
   'rating': 2.5,
   'coordinates': {'latitude': 51.373658, 'longitude': -0.09857},
   'transactions': [],
   'price': '££',
   'location': {'address1': '46 George Street Croydon',
    'address2': '',
    'address3': '',
    'city': 'Croydon',
    'zip_code': 'CR0 1PB',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['46 George Street Croydon',
     'Croydon CR0 1PB',
     'United Kingdom']},
   'phone': '+442086868009',
   'display_phone': '+44 20 8686 8009',
   'distance': 15668.234597382583},
  {'id': 'VUVtXa38OCQdZnmd8YUARw',
   'alias': 'olleys-fish-experience-london',
   'name': "Olley's Fish Experience",
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/hZT0ogWsK5MsXj13tdbRXQ/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/olleys-fish-experience-london?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 26,
   'categories': [{'alias': 'fishnchips', 'title': 'Fish & Chips'},
    {'alias': 'gluten_free', 'title': 'Gluten-Free'}],
   'rating': 4.0,
   'coordinates': {'latitude': 51.4510352210949,
    'longitude': -0.100579542659192},
   'transactions': [],
   'price': '£££',
   'location': {'address1': '65 - 69 Norwood Road',
    'address2': '',
    'address3': '',
    'city': 'London',
    'zip_code': 'SE24 9AA',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['65 - 69 Norwood Road',
     'London SE24 9AA',
     'United Kingdom']},
   'phone': '+442086718259',
   'display_phone': '+44 20 8671 8259',
   'distance': 7295.4643168112025},
  {'id': '4Ff4jkboKDzTsiGRVv6Qzw',
   'alias': 'forza-win-london',
   'name': 'Forza Win',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/lBz_1OmDNTCmSG_bAuARlA/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/forza-win-london?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 3,
   'categories': [{'alias': 'italian', 'title': 'Italian'},
    {'alias': 'venues', 'title': 'Venues & Event Spaces'},
    {'alias': 'soulfood', 'title': 'Soul Food'}],
   'rating': 4.5,
   'coordinates': {'latitude': 51.469862024911,
    'longitude': -0.0656424011192485},
   'transactions': [],
   'location': {'address1': 'Unit 4 1',
    'address2': '133 Copeland Road',
    'address3': 'Copeland Park',
    'city': 'London',
    'zip_code': 'SE15 3SN',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['Unit 4 1',
     '133 Copeland Road',
     'Copeland Park',
     'London SE15 3SN',
     'United Kingdom']},
   'phone': '+442077329012',
   'display_phone': '+44 20 7732 9012',
   'distance': 6821.381703556315},
  {'id': '20wbHVznGl8DZorCyjzvXA',
   'alias': 'banners-restaurant-london-3',
   'name': "Banner's Restaurant",
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/jbUjWFfZwleQ91HNqIFm-w/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/banners-restaurant-london-3?adjust_creative=-uBzzloii2ivvF3N0jkhKQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-uBzzloii2ivvF3N0jkhKQ',
   'review_count': 35,
   'categories': [{'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'},
    {'alias': 'caribbean', 'title': 'Caribbean'},
    {'alias': 'british', 'title': 'British'}],
   'rating': 4.0,
   'coordinates': {'latitude': 51.5805632029117,
    'longitude': -0.124239921569824},
   'transactions': [],
   'price': '££',
   'location': {'address1': '21 Park Road',
    'address2': '',
    'address3': '',
    'city': 'London',
    'zip_code': 'N8 8TE',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['21 Park Road', 'London N8 8TE', 'United Kingdom']},
   'phone': '+442083482930',
   'display_phone': '+44 20 8348 2930',
   'distance': 7574.416852641791}],
 'total': 18,
 'region': {'center': {'longitude': -0.135955810546875,
   'latitude': 51.51283552118349}}}

In [5]:
#Create a for loop to capture the data of the first 50 records 0-50

#Create Empty Lists
lat1=[]
lng1=[]
address1=[]
name1=[]
title1=[]
price1=[]
rating1=[]
ids1=[]
url1=[]

#Set Counter to 0
i = 0

#For Loop with Try/Except Error
for i in (lndr1["businesses"]):
    try:
        lat1.append (i["coordinates"]["latitude"])
        lng1.append (i["coordinates"]["longitude"])
        address1.append (i["location"]["address1"])
        name1.append (i["name"])    
        title1.append(i["categories"][0]["title"])
        price1.append (i["price"])
        rating1.append (i["rating"])
        ids1.append (i["id"])
        url1.append (i["url"])
    except(KeyError,IndexError):
        print("Skipping, Not Found")
        price1.append("")
        rating1.append("")
        ids1.append("")
        url1.append("")

Skipping, Not Found
Skipping, Not Found
Skipping, Not Found
Skipping, Not Found
Skipping, Not Found

In [6]:
#Create DataFrame of the first 50 records collected 
df1 = pd.DataFrame({"Restaurant": name1,"Type": title1, "Price":price1, "Rating":rating1, "Address":address1, "Lat":lat1, "Lng":lng1, "url":url1, "ID":ids1 })
df1.head()

,Restaurant,Type,Price,Rating,Address,Lat,Lng,url,ID
0,The Fat Bear,American (Traditional),££,4.5,61 Carter Lane,51.513183,-0.101381,https://www.yelp.com/biz/the-fat-bear-london?a...,Z0r83lDOA1mI8RpNccXtHw
1,Mother Clucker,Street Vendors,,,Camden Market,51.541322,-0.146443,,
2,Absurd Bird Soho,Chicken Shop,£££,4,24 Peter Street,NaN,NaN,https://www.yelp.com/biz/absurd-bird-soho-lond...,p4SRF3oXUvkR8dr-xpTczg
3,Red Rooster Shoreditch,American (New),£££,4,45 Curtain Road,51.524165,-0.080290,https://www.yelp.com/biz/red-rooster-shoreditc...,p9TrMj3CyIQd-nywbZklZw
4,The Rum Kitchen,Caribbean,££,4,1st Floor Kingly Court,51.512339,-0.138734,https://www.yelp.com/biz/the-rum-kitchen-londo...,GG_lpEApTeNIDNzyQv1I0A

In [7]:
#2nd set of 50 records 51-100 
lndr_params2 = {"term":term,"location":"London","limit":50,"offset":51}
lndr_response2 = requests.get(search_api_url, headers=headers, params=lndr_params2)
lndr2 = lndr_response2.json()
display(lndr2)
#print(lndr_response2.url)
#print(lndr_response2.status_code)

{'businesses': [],
 'total': 18,
 'region': {'center': {'longitude': -0.135955810546875,
   'latitude': 51.51283552118349}}}

In [8]:
#Create a for loop to capture the data of the second set of 50 records 51-100

#Create Empty Lists
lat2=[]
lng2=[]
address2=[]
name2=[]
title2=[]
price2=[]
rating2=[]
ids2=[]
url2=[]

#Set Counter to 0
i = 0

#For Loop with Try/Except Error
for i in (lndr2["businesses"]):
    try:
        lat2.append (i["coordinates"]["latitude"])
        lng2.append (i["coordinates"]["longitude"])
        address2.append (i["location"]["address1"])
        name2.append (i["name"])    
        title2.append(i["categories"][0]["title"])
        price2.append (i["price"])
        rating2.append (i["rating"])
        ids2.append (i["id"])
        url2.append (i["url"])
    except(KeyError,IndexError):
        print("Skipping, Not Found")
        price2.append("")
        rating2.append("")
        ids2.append("")
        url2.append("")

In [9]:
#Create DataFrame of the next 50 records collected 51-100
df2 = pd.DataFrame({"Restaurant": name2,"Type": title2, "Price":price2, "Rating":rating2, "Address":address2, "Lat":lat2, "Lng":lng2, "url":url2, "ID":ids2 })
df2.head()

Empty DataFrame
Columns: [Restaurant, Type, Price, Rating, Address, Lat, Lng, url, ID]
Index: []

In [10]:
#3rd set of 50 records 101-150
lndr_params3 = {"term":term,"location":"London","limit":50,"offset":101}
lndr_response3 = requests.get(search_api_url, headers=headers, params=lndr_params3)
lndr3 = lndr_response3.json()
display(lndr3)
#print(lndr_response3.url)
#print(lndr_response3.status_code)

{'businesses': [],
 'total': 18,
 'region': {'center': {'longitude': -0.135955810546875,
   'latitude': 51.51283552118349}}}

In [11]:
#Create a for loop to capture the data of the third iteration of 50 records 101-150

#Create Empty Lists
lat3=[]
lng3=[]
address3=[]
name3=[]
title3=[]
price3=[]
rating3=[]
ids3=[]
url3=[]

#Set Counter to 0
i = 0

#For Loop with Try/Except Error
for i in (lndr3["businesses"]):
    try:
        lat3.append (i["coordinates"]["latitude"])
        lng3.append (i["coordinates"]["longitude"])
        address3.append (i["location"]["address1"])
        name3.append (i["name"])    
        title3.append(i["categories"][0]["title"])
        price3.append (i["price"])
        rating3.append (i["rating"])
        ids3.append (i["id"])
        url3.append (i["url"])
    except(KeyError,IndexError):
        print("Skipping, Not Found")
        price3.append("")
        rating3.append("")
        ids3.append("")
        url3.append("")

In [12]:
#Create DataFrame of the third set of 50 records collected 101-150 
df3 = pd.DataFrame({"Restaurant": name3,"Type": title3, "Price":price3, "Rating":rating3, "Address":address3, "Lat":lat3, "Lng":lng3, "url":url3, "ID":ids3 })
df3.head()

Empty DataFrame
Columns: [Restaurant, Type, Price, Rating, Address, Lat, Lng, url, ID]
Index: []

In [13]:
#4th set of 50 records 151-200
lndr_params4 = {"term":term,"location":"London","limit":50,"offset":151}
lndr_response4 = requests.get(search_api_url, headers=headers, params=lndr_params4)
lndr4 = lndr_response4.json()
display(lndr4)
#print(lndr_response4.url)
#print(lndr_response4.status_code)

{'businesses': [],
 'total': 18,
 'region': {'center': {'longitude': -0.135955810546875,
   'latitude': 51.51283552118349}}}

In [14]:
#Create a for loop to capture the data of the fourth set of 50 records 151-200

#Create Empty Lists
lat4=[]
lng4=[]
address4=[]
name4=[]
title4=[]
price4=[]
rating4=[]
ids4=[]
url4=[]

#Set Counter to 0
i = 0

#For Loop with Try/Except Error
for i in (lndr4["businesses"]):
    try:
        lat4.append (i["coordinates"]["latitude"])
        lng4.append (i["coordinates"]["longitude"])
        address4.append (i["location"]["address1"])
        name4.append (i["name"])    
        title4.append(i["categories"][0]["title"])
        price4.append (i["price"])
        rating4.append (i["rating"])
        ids4.append (i["id"])
        url4.append (i["url"])
    except(KeyError,IndexError):
        print("Skipping, Not Found")
        price4.append("")
        rating4.append("")
        ids4.append("")
        url4.append("")

In [15]:
#Create DataFrame of the last 50 records collected 151-200
df4 = pd.DataFrame({"Restaurant": name4,"Type": title4, "Price":price4, "Rating":rating4, "Address":address4, "Lat":lat4, "Lng":lng4, "url":url4, "ID":ids4 })
df4.head()

Empty DataFrame
Columns: [Restaurant, Type, Price, Rating, Address, Lat, Lng, url, ID]
Index: []

In [16]:
london_restaurants_df = pd.concat([df1,df2,df3,df4], sort=True)
london_restaurants_df.shape

(18, 9)

In [17]:
column_order = ["Restaurant","Type","Rating","Price","Address","Lat","Lng","url","ID"]
london_restaurants_df = london_restaurants_df[column_order]
london_restaurants_df = london_restaurants_df.sort_values(["Type"], ascending=True)
london_restaurants_df = london_restaurants_df.reset_index(drop=True)
london_restaurants_df

,Restaurant,Type,Rating,Price,Address,Lat,Lng,url,ID
0,Red Rooster Shoreditch,American (New),4,£££,45 Curtain Road,51.524165,-0.080290,https://www.yelp.com/biz/red-rooster-shoreditc...,p9TrMj3CyIQd-nywbZklZw
1,The Fat Bear,American (Traditional),4.5,££,61 Carter Lane,51.513183,-0.101381,https://www.yelp.com/biz/the-fat-bear-london?a...,Z0r83lDOA1mI8RpNccXtHw
2,Porky's BBQ Bankside,Barbeque,3.5,££,18 New Globe Walk,51.507527,-0.096287,https://www.yelp.com/biz/porkys-bbq-bankside-l...,S4ZqPYMmBSVOQfHnPinyAQ
3,Banner's Restaurant,Breakfast & Brunch,4,££,21 Park Road,51.580563,-0.124240,https://www.yelp.com/biz/banners-restaurant-lo...,20wbHVznGl8DZorCyjzvXA
4,The Rum Kitchen,Caribbean,4,££,1st Floor Kingly Court,51.512339,-0.138734,https://www.yelp.com/biz/the-rum-kitchen-londo...,GG_lpEApTeNIDNzyQv1I0A
5,Cottons,Caribbean,4,££,130-132 Curtain Road,51.526379,-0.080199,https://www.yelp.com/biz/cottons-london-5?adju...,fQHEnP3Wfmj8NZyGIO5Aww
6,Peppers & Spice,Caribbean,4.5,£,40 Balls Pond Rd,51.546230,-0.077265,https://www.yelp.com/biz/peppers-and-spice-lon...,mMbnTGId-rn-n9xEPycvwA
7,Caribsoul,Caribbean,2.5,££,46 George Street Croydon,51.373658,-0.098570,https://www.yelp.com/biz/caribsoul-croydon?adj...,iLtR39Nt-ESjOY4bk7Qnug
8,Chicken Shop,Chicken Shop,5,££,202 High Holborn,51.517108,-0.122265,https://www.yelp.com/biz/chicken-shop-london-1...,WlC8-aIs7SrbMUUnH0OB8g
9,Absurd Bird Soho,Chicken Shop,4,£££,24 Peter Street,NaN,NaN,https://www.yelp.com/biz/absurd-bird-soho-lond...,p4SRF3oXUvkR8dr-xpTczg
10,Olley's Fish Experience,Fish & Chips,4,£££,65 - 69 Norwood Road,51.451035,-0.100580,https://www.yelp.com/biz/olleys-fish-experienc...,VUVtXa38OCQdZnmd8YUARw
11,Holmesbake,Food Trucks,4.5,£,Roscoe Street,51.523571,-0.092850,https://www.yelp.com/biz/holmesbake-london?adj...,3AgFuFnrm1Gc-VFViLVrFA
12,Forza Win,Italian,,,Unit 4 1,51.469862,-0.065642,,
13,Bubba Gump Shrimp Co.,Seafood,2.5,££,Trocadero,51.510071,-0.132981,https://www.yelp.com/biz/bubba-gump-shrimp-co-...,ycD95YnyT4rBwu4FTC8mew
14,The Spot Soul Food Kitchen,Soul Food,,,58 Willesden Lane,51.541185,-0.200805,,
15,The Depot,Soul Food,,,1 Carpenter's Mews,51.548781,-0.121667,,
16,Thakers,Soul Food,,,162a High Street,51.469555,-0.361087,,
17,Mother Clucker,Street Vendors,,,Camden Market,51.541322,-0.146443,,

In [18]:
# Save the dataframe to a csv file
london_restaurants_df.to_csv('Resources/London_Restaurants_SoulFood.csv')